img {
  border-radius: 15px;
  border: 2px solid white;
  height: 300px;
}

body {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  color: #223447;
  background-color: #D3CEDF;
}

portraitSection {
  width: 50%;
  height: 100%;
  background-color: #223447;
  padding: 3.25%;
  text-align: center;
  color: white;
}

infoSection {
  width: 50%;
  background-color: #f8eaeb;
  background-image: url();
  padding: 3.25%;
  color: #855750 !important;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: Simplifica;
  src: url("../Desktop/SIMPLIFICA Typeface.ttf") format('truetype');
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: Nunito;
  font-style: italic;
  src: url("../Desktop/Nunito-VariableFont_wght.ttf") format('truetype');
}

p {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: Nunito;
  src: url("../Desktop/Nunito-VariableFont_wght.ttf") format('truetype');
}

li {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: Nunito;
  src: url("../Desktop/Nunito-VariableFont_wght.ttf") format('truetype');
}