.lecturer h1{
    width: 168px;
    height: 40px;
    left: 163px;
    top: 260px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    
    color: #000000;
}

.report h1{
    position: absolute;
    width: 552px;
    height: 40px;
    left: 305px;
    top: 260px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    
    color: #000000;
    
}

.history h1{
    position: absolute;
    width: 682px;
    height: 40px;
    left: 163px;
    top: 282px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    
    color: #000000;
}

.personalInfo h1{
    position: absolute;
    width: 363px;
    height: 40px;
    left: 164px;
    top: 260px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    
    color: #000000;
}